

<!-- Modal -->
<div class="modal fade" id=<%= id %> tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"><%= @flat.name  %></h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body p-5">
        <%= cl_image_tag @flat.photos[index].key, class: 'w-100 h-100 object-fit-cover'%>
      </div>
    </div>
  </div>
</div>
