<div class="container py-5">
  <h1>Find your accomodation!</h1>
  <%= form_tag flats_path, method: :get, class: "d-flex" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find a flat"
    %>

    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>

  <%= bar_chart({a: 4, f:8, g: 11, p: 2}) %>
</div>
