.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  display: flex;
  align-items: center;
  p {
    font-weight: bold;
    color: tomato;
    margin: 0 0 0 10px;
  }
}

.notification-container {
  margin-top: 4px;
  margin-right: 20px;

}

.notification {

  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  padding: 2px;
  text-align: center;
  color: white;

}
